tb/verilator/sim_build/
tb/verilator/__pycache__/
tb/modelsim/verilator/sim_build/
tb/modelsim/verilator/__pycache__/
tb/modelsim/scripts/work/
tb/modelsim/scripts/transcript
tb/modelsim/scripts/modelsim.ini